extends layout

block content
  .header
    h1= title
  .main
    .keywords 关键词:
      each key in keywords
        span= key
    .content!= content
    .recommend 
      h3 相关推荐：
      ul
        each recommend in recommends
          li: a(href='#{recommend.link}') #{recommend.title}
